{% load compress %}
{% load tailwind_cli %}
<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    {% tailwind_css %}
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer
    ></script>
  </head>
  <body>
    <section class="flex flex-col md:flex-row h-screen items-center">

        <h1>AKU PENGALIH HALAMAN YANG BELUM LOGIN</h1>
        <h2>Ini adalah halaman yang tidak terproteksi. Silakan login untuk mengakses halaman terproteksi.</h2>
        <a href="{% url 'login' %}">Login</a>
    </section>
  </body>
</html>