{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" class="light" data-header-styles="light" data-menu-styles="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ERP NUSANTARA - {% block title %}{% endblock %}</title>
    <meta name="description" content="ERP NUSANTARA - {% block description %}{% endblock %}">
    <meta name="keywords" content="ERP NUSANTARA - {% block keywords %}{% endblock %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static '/assets/img/brand-logos/favicon.ico' %}">

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Style Css -->
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
    <style>
        .selected-row {
            background-color:rgba(242, 246, 249, 1) !important;
            color: #000;
            font-weight: bold;
        }
    </style>

    <!-- Simplebar Css -->
    <link rel="stylesheet" href="{% static '/assets/libs/simplebar/simplebar.min.css' %}">

    <!-- Color Picker Css -->
    <link rel="stylesheet" href="{% static '/assets/libs/@simonwep/pickr/themes/nano.min.css' %}">

    <!-- Tabulator Css -->
    <link rel="stylesheet" href="{% static '/assets/libs/tabulator-tables/css/tabulator.min.css' %}">

    <!-- Choices Css -->
    <link rel="stylesheet" href="{% static '/assets/libs/choices.js/public/assets/styles/choices.min.css' %}">

</head>

<body>

    <div class="col-span-12">
        <div class="box">
            <div class="box-header flex justify-between items-center">
                <button id="createButton" class="bg-blue-600 text-black px-4 py-2 rounded-lg hover:bg-blue-700">Create</button>
                <button id="updateButton" class="bg-blue-600 text-black px-4 py-2 rounded-lg hover:bg-blue-700">Update</button>
                <button id="deleteButton" class="bg-blue-600 text-black px-4 py-2 rounded-lg hover:bg-blue-700">Delete</button>
                <h5 class="box-title text-center mx-auto">Area</h5>
            </div>
            <div class="box-body">
                <div class="overflow-auto table-bordered">
                    <div id="list-area" class="ti-custom-table ti-striped-table ti-custom-table-hover"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="createModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center hidden">
        <div id="modalContent" class="bg-white p-6 rounded-lg w-2/3 relative">
            <button id="closeModal" class="absolute top-4 right-4 text-gray-600 hover:text-gray-800">
                ✕
            </button>
            <h2 class="text-lg font-bold mb-4">Create New Area</h2>
            <form id="createAreaForm" method="post">
                {% csrf_token %}
                <div class="grid grid-cols-3 gap-4">
                    <div>
                        <label for="area_id" class="block mb-2">Area ID</label>
                        <input type="text" id="area_id" name="area_id" class="w-full border p-2 rounded-lg">
                    </div>
                    <div>
                        <label for="area_name" class="block mb-2">Areaname</label>
                        <input type="text" id="area_name" name="area_name" class="w-full border p-2 rounded-lg">
                    </div>
                </div>
                <div class="flex justify-end mt-4">
                    <button type="submit" class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600">
                        Save
                    </button>
                </div>
            </form>
            
        </div>
    </div>

    <div id="updateModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center hidden">
        <div id="updateModalContent" class="bg-white p-6 rounded-lg w-2/3 relative">
            <button id="closeUpdateModal" class="absolute top-4 right-4 text-gray-600 hover:text-gray-800">✕</button>
            <h2 class="text-lg font-bold mb-4">Update Area</h2>
            <form id="updateForm">
                {% csrf_token %}
                <input type="hidden" id="update_area_id" name="area_id">
                <div class="grid grid-cols-3 gap-4">
                    <div>
                        <label for="update_area_name" class="block mb-2">Areaname</label>
                        <input type="text" id="update_area_name" name="area_name" class="w-full border p-2 rounded-lg">
                    </div>
                </div>
                <div class="flex justify-end mt-4">
                    <button type="submit" class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600">Update</button>
                </div>
            </form>
        </div>
    </div>
    

    <script src="{%static 'assets/libs/tabulator-tables/js/tabulator.min.js'%}"></script>
    <script>
        let selectedRow = null;
        //Create Button
        const createButton = document.getElementById('createButton');
        const createModal = document.getElementById('createModal');
        const closeModal = document.getElementById('closeModal');
        const modalContent = document.getElementById('modalContent');
        //Update Button
        const updateButton = document.getElementById('updateButton');
        const updateModal = document.getElementById('updateModal');
        const closeUpdateModal = document.getElementById('closeUpdateModal');
        const updateForm = document.getElementById('updateForm');

        // Modal Create
        createButton.addEventListener('click', () => {
            createModal.classList.remove('hidden');
        });
        closeModal.addEventListener('click', () => {
            createModal.classList.add('hidden');
        });

        //Modal Update
        updateButton.addEventListener('click', () => {
            if (selectedRow && selectedRow.length == 1) {
                document.getElementById('update_area_id').value = selectedRow[0].area_id;
                document.getElementById('update_area_name').value = selectedRow[0].area_name;
                updateModal.classList.remove('hidden');
            } else if (selectedRow && selectedRow.length > 1){
                alert('Jangan pilih lebih dari satu');
            }else {
                alert('Please select a row to update.');
            }
        });
        closeUpdateModal.addEventListener('click', () => {
            updateModal.classList.add('hidden');
        });

        //GET DATA FROM APIS BACKEND
        $(document).ready(function () {
            getArea()
        });
        function getArea(){
            $.ajax({
                url: '/api/master/area',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    let table = new Tabulator("#list-area", {
                        layout: "fitColumns",
                        pagination: "local",
                        paginationSize: 10,
                        paginationSizeSelector: [5, 10, 15, 20, 25],
                        paginationCounter: "rows",
                        data: data,
                        selectable: 1,
                        columns: [
                            { title: "Area ID", field: "area_id", sorter: "string" },
                            { title: "Area Name", field: "area_name", sorter: "string" },
                        ],
                    });
                    table.on("rowClick", function(e, row) {
                        if (row.getElement().classList.contains('selected-row')) {
                            row.getElement().classList.remove('selected-row');
                        } else {
                            table.getRows().forEach(r => r.getElement().classList.remove('selected-row'));
                            row.getElement().classList.add('selected-row');
                        }
                    });
                    table.on("rowSelectionChanged", function(data, rows){
                        selectedRow = data
                    });
                },
                error: function(xhr, status, error) {
                }
            });
        }

        //CREATE DATA USER
        $('#createAreaForm').submit(function (e) {
            e.preventDefault(); // Hindari reload halaman
    
            const formData = {
                area_id: $('#area_id').val(),
                area_name: $('#area_name').val(),
            };
    
            const csrfToken = $('[name=csrfmiddlewaretoken]').val();
    
            $.ajax({
                type: 'POST',
                url: '/api/master/area/',
                headers: { 'X-CSRFToken': csrfToken },
                data: formData,
                success: function (response) {
                    alert('Area created successfully!');
                    $('#createModal').addClass('hidden'); // Tutup modal
                    $('#createAreaForm')[0].reset(); // Reset form
                    getArea()
                },
                error: function (xhr) {
                    const errors = xhr.responseJSON.errors || {};
                    let errorMessage = 'Failed to create area.\n';
                    for (const field in errors) {
                        errorMessage += `${field}: ${errors[field].join(', ')}\n`;
                    }
                    alert(errorMessage);
                }
            });
        });

        //UPDATE DATA USER
        $('#updateForm').submit(function (e) {
            e.preventDefault();
        
            const formData = new FormData(this);
            const csrfToken = $('[name=csrfmiddlewaretoken]').val();
        
            $.ajax({
                url: `/api/master/area/${$('#update_area_id').val()}/`, // Endpoint update user
                method: 'PATCH', // atau 'PUT' tergantung kebutuhan
                headers: {
                    'X-CSRFToken': csrfToken,
                },
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    alert('Area updated successfully!');
                    $('#updateModal').addClass('hidden'); // Tutup modal
                    $('#updateForm')[0].reset(); // Reset form
                    getArea()
                },
                error: function (xhr) {
                    const errors = xhr.responseJSON?.errors || 'Failed to update area';
                    alert('Error: ' + JSON.stringify(errors));
                }
            });
        });

        //DELETE DATA AREA
        $('#deleteButton').on('click', function (e) {
            e.preventDefault();
        
            $.ajax({
                url: `/api/master/area/${selectedRow[0].area_id}/`,
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val(),
                },
                success: function (response) {
                    alert('Data deleted successfully!');
                    getArea();
                },
                error: function (xhr) {
                    const errors = xhr.responseJSON?.errors || 'Failed to delete data';
                    alert('Error: ' + JSON.stringify(errors));
                    console.log('UASUU: ', errors);
                }
            });
        });

        
    </script>

</body>

</html>