{% load compress %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Style Css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">

    <!-- Datatables CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/datatables.min.css' %}">

    {% block head %}{% endblock %}
</head>
<body class="bg-gray-50 dark:bg-gray-900">
    
    <!-- Main Container -->
    {% block content %}{% endblock %}

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    
    <!-- Jquery JS -->
    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>

    <!-- Datatables JS -->
    <script src="{% static 'assets/js/datatables.min.js' %}"></script>
    
    <script>
        // Memberi tahu parent dokumen tentang judul halaman ini setelah dimuat
        window.onload = function() {
            if (window.parent && window.parent !== window) {
                var pageTitle = document.title;
                window.parent.postMessage({
                    type: 'iframeTitle',
                    title: pageTitle
                }, '*');
            }
        };
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>